/*reset*/
html,body,div,ul,li,a,img{
    margin: 0;
    padding: 0;
    border: 0;
}
/*reset end*/

.container{
    height: 100%;
    position: relative;
}

.pg1,.pg2,.pg3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13.34rem;
    display: none;
}

.pg1{
    background: url(../img/С61.jpg) no-repeat center center fixed;
    background-size: cover;
}

.pg2{
    background: url(../img/bluegogo.gif) no-repeat center center fixed;
    background-size: cover;
}

.pg3{
    background: url(../img/С63.jpg) no-repeat center center fixed;
    background-size: cover;
}

.active{
    display: block;
}

/* .pg1 img,.pg2 img,.pg3 img{
    display: block;
    width: 100%;
    height: 100%;
} */
