/* reset start */
html,body,div,h1,h2,h3,h4,h5,h6,span,a,ul,ol,li,form,input,textarea,button{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

ul,ol,li{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
	height: 100%;
}
/* reset end */

/* bg pic start */
.container{
	width: 7.5rem;
	height: 13.34rem;
	margin: 0 auto;
	background: url('../img/bg.png') no-repeat;
	background-size: cover;
	position: relative;
}
/* bg pic end */

/* content start */
/* top nav */
.navbar{
	width: 100%;
	height: .78rem;
	position: relative;
}

.navbar img{
	position: absolute;
}

.navbar a{
	display: block;
    width: 1.3rem;
    height: .6rem;
    position: absolute;
    top: .14rem;
    right: .13rem;
}

/* ball logo */
.crazy-ball{
	width: 1.14rem;
	height: .96rem;
	position: absolute;
	top: .98rem;
	left: .31rem;
}

/* pre logo */
.pre-logo{
	width: 1.77rem;
	height: 1.13rem;
	position: absolute;
	top: .85rem;
	right: .22rem;
}


/* main-content */
.main-content{
	position: absolute;
	top: 4.43rem;
	width: 5.5rem;
	left: 50%;
	margin-left: -2.75rem;
}
/* flag */
.flag{
	width: 2.03rem;
	height: 2.03rem;
	position: absolute;
	top: -.55rem;
	left: -.3rem;
}

.s5{
	width: .92rem;
	height: .63rem;
	position: absolute;
	top: .11rem;
	left: .9rem;
}

.s5 img{
	position: absolute;
}

/* old client */
.old-client{
	width: 3.7rem;
	height: .92rem;
	margin: 0 auto;
}

/* free */
.free{
	position: absolute;
	top: 1.06rem;
}

/* quota */
.quota{
	width: 5.22rem;
    height: .39rem;
    position: relative;
    left: .2rem;
    top: 1.2rem;
    margin-top: .27rem;
    color: #fff;
    font-size: .41rem;
    font-weight: bold;
    text-align: center;
    line-height: .39rem;
    letter-spacing: 3px;
}

/* time */
.time{
	width: 3.96rem;
	height: .29rem;
	margin-top: 1.45rem;
	margin-left: .8rem;
	color: #fff;
	font-size: .3rem;
	text-align: center;
	line-height: .29rem;
}

/* form */

/* content end */