/* header start */
header{
    width: 100%;
    height: 60px;
    /* background-color: rgba(91,51,134,.5); */
    background-color: rgba(120,174,228,.5);
    position: fixed;
    z-index: 10;
}

header nav{
    height: 40px;
    padding: 10px;
}

header nav ul.navbar{
    float: right;
    height: 40px;
}

header nav ul.navbar li{
    float: left;
    height: 40px;
    line-height: 20px;
    margin-right: 50px;
    border: 1px solid #c4e0ee;
    border-radius: 5px;
}

header nav ul.navbar li a{
    display: inline-block;
    height: 40px;
    padding: 10px;
    font-weight: bold;
}

header nav ul.navbar li:hover{
    background-color: #c4e0ee;
}

header nav ul.navbar .active{
    background-color: #c4e0ee;
    border-radius: 5px;
}

@media (max-width:768px){
    header nav ul.navbar{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header nav ul.navbar li{
        margin-right: 10px;
    }
}
/* header end */